<html>
<head>
<%= javascript_include_tag "test" %>
<script>
$.ajax({
    type: "GET",
    url: '<%= @test.uri(request) %>',
    dataType: 'json',
    xhrFields: {
       withCredentials: true
    },
    crossDomain: true
});


</script>
</head>
<body>

</body>
</html>