<html>
<head>
	<%= raw replace_host(@test.options[:head_content]) %>
<style>
@font-face
{
    font-family: myFirstFont;
    src: url('<%= @test.uri(request) %>');
}
body {
    font-family: myFirstFont;
}
</style>
</head>
<body>
Hello
</body>
</html>