<html>
<head>
    <link rel="stylesheet" type="text/css" href="data:text/css;base64,<%= base64encode("body { background-image: url('" + @test.uri(request) + "'); }") %>" />
</head>
<body>
	Placeholder
</body>
</html>