<html>
<head>

</head>
<body>
<svg>
    <foreignObject>
        <<%= @test.options[:tag] %> xmlns="http://www.w3.org/1999/xhtml" src="<%= @test.uri(request) %>" />
    </foreignObject>
</svg>
</body>
</html>