<html>
<head>

</head>
<body>



<svg>
    <foreignObject>
        <body xmlns="http://www.w3.org/1999/xhtml"  onload="document.location = '<%= @test.uri(request) %>'">

        </body>
    </foreignObject>
</svg>

</body>
</html>