<% content_for :about_active, "active" %>
<h1>About</h1>
<p>If you want to contribute, you can find the source at:</p>
<a href="https://github.com/eoftedal/csp-testing">https://github.com/eoftedal/csp-testing</a>