<% content_for :home_active, "active" %>
<h1>Content Security Policy <%= session[:version] %></h1>
<p>
    This test checks your browser support for the Content Security Policy (CSP).
</p>

<script>
var testcases = <%= raw @testcase_json %>
</script>
<br>
<p><a id="runtests" class="btn btn-primary btn-large">Run tests</a> <a id="listtests" class="btn btn-large">List tests</a></p>

<p id="runner" class="running" style="display:none">Running...</p>

<table class="results" style="display:none">
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
</table>

<div class="iframes" style="display: none">
<iframe src="//<%= @other_host %>/home/establish?session_id=<%= @session_id %>"></iframe>
</div>
